body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:linear-gradient(to bottom, #f82626, #4f4485);
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tip {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}
.tip h2 {
    margin-top: 0;
}
